<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-3">
                        
                    </div>
                    <div class="col-sm-9">
                        <div class="button-items float-left">
                            <button type="button"
                                class="btn btn-primary waves-effect waves-light paddingbtn">Guzape</button>
                            <button type="button"
                                class="btn btn-default waves-effect waves-light paddingbtn">Gwarimpa</button>
                            <button type="button"
                                class="btn btn-default waves-effect waves-light paddingbtn">Dubai</button>
                            <button type="button"
                                class="btn btn-default waves-effect waves-light paddingbtn">Ilorin</button>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end page-title -->
           <div class="row">
                            <div class="col-xl-6">
                                <div class="card m-b-30">
                                    <div class="card-body">
        
                                        <h4 class="mt-0 header-title">Monthly</h4>
                                        <div>
                                        <div style="display: block">
                                            
                                        </div>
                                        </div>
        
                                    </div>
                                </div>
                            </div> <!-- end col -->
        
                            <div class="col-xl-6">
                                <div class="card m-b-30">
                                    <div class="card-body">
        
                                        <h4 class="mt-0 header-title">Bar Chart</h4>
                                        <p class="sub-title d-inline-block text-truncate w-100">A bar chart is a way of showing data as
                                            bars. It is sometimes used to show trend data, and the comparison of
                                            multiple data sets side by side.</p>
        
                                        <ul class="list-inline widget-chart m-t-20 m-b-15 text-center">
                                            <li class="list-inline-item">
                                                <h5>3654</h5>
                                                <p class="text-muted">Marketplace</p>
                                            </li>
                                            <li class="list-inline-item">
                                                <h5>954</h5>
                                                <p class="text-muted">Last week</p>
                                            </li>
                                            <li class="list-inline-item">
                                                <h5>8462</h5>
                                                <p class="text-muted">Last Month</p>
                                            </li>
                                        </ul>
        
                                        <canvas id="bar" height="300"></canvas>
        
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

            
            <!-- end row -->
        </div>
        <!-- container-fluid -->

    </div>
</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->