<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-3">
                        
                    </div>
                    <div class="col-sm-9">
                        <div class="button-items float-left">
                            <button type="button"
                                class="btn btn-primary waves-effect waves-light paddingbtn">Guzape</button>
                            <button type="button"
                                class="btn btn-default waves-effect waves-light paddingbtn">Gwarimpa</button>
                            <button type="button"
                                class="btn btn-default waves-effect waves-light paddingbtn">Dubai</button>
                            <button type="button"
                                class="btn btn-default waves-effect waves-light paddingbtn">Ilorin</button>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end page-title -->
           <div class="row">
                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-body">
        
                                        <h4 class="mt-0 header-title mb-4">Monthly</h4>
                                     
                                        <div style="display: block">
                                            <canvas baseChart width="400" height="300"
                                                    [datasets]="ChartData"
                                                    [labels]="barChartLabels"
                                                    [colors]="ChartColors"
                                                    [options]="barChartOptions"
                                                    [legend]="barChartLegend"
                                                    [chartType]="barChartType"
                                                ></canvas>
                                        </div>
                                        
        
                                    </div>
                                </div>
                            </div> <!-- end col -->
        
                            <div class="col-xl-6">
                               <div class="card">
                                    <div class="card-body">
        
                                        <h4 class="mt-0 header-title mb-4">Yearly</h4>
                                     
                                        <div style="display: block">
                                            <canvas baseChart width="400" height="300"
                                                    [datasets]="ChartDataYearly"
                                                    [labels]="polarChartLabels"
                                                    [options]="barChartOptions"
                                                      [colors]="ChartColors"
                                                    [legend]="barChartLegend"
                                                    [chartType]="barChartType"
                                                ></canvas>
                                        </div>
                                        
        
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

            
            <!-- end row -->
        </div>
        <!-- container-fluid -->

    </div>
</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->